body{
	background: #d8d8d8;
}
.icon ul{
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 0;
	margin: 0;
	transform: translate(-50%,-50%);
	display: flex; 
}
.icon ul li{
	list-style: none;
	margin: 0 15px;
}
.icon ul li .fa{
	font-size: 30px;
	line-height: 60px;
	transition: .6s;
	color: #000;
}
.icon ul li .fa:hover{
	color: #e4405f;
}
.icon ul li a{
	position: relative;
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border-color:#fff;
	text-align: center;
	transition: .6s;
	box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
.icon ul li a:hover{
	transform: translate(0,-10px);
	
}