*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #000;
	justify-content: center;
	flex-wrap: wrap;
	min-height: 100vh;
	align-items: center;
	display: flex;
	-wekit-background-size:cover;
	background-size: cover;
	background-position: center center;
}


.glass{
	width: 100%;
	background-image: linear-gradient(red, #000);
	padding-bottom: 5px;
	opacity: 0.7;
	
}
.nav{
   float: right;
   margin-top: 15px;
   font-size: 50px;
   font-weight: 40px;
}
.nav li{
	display: inline-block;
}

.nav li a{
   color: #fff;
   padding: 10px 20px;
   text-decoration: none;
   font-size: 16px;
}
li a:hover{
    background: rgba(31,31,33,.1);
    color: #ccc;
    border:2px solid #fff;
}
*{
	box-sizing: border-box;
}
.gallery{
	
	justify-content: center;
}
.gallery img{
	border: 1px solid #fff;
	box-shadow: 5px 5px 25px #ff0000;

}
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8%;
	width: 80%;

}


.icon ul{
	position: absolute;
	top:20%;
	left: 50%;
	padding: 0;
	margin: 0;
	transform: translate(-50%,-50%);
	display: flex; 
}
.icon ul li{
	list-style: none;
	margin: 0 15px;
}
.icon ul li .fa{
	font-size: 30px;
	line-height: 60px;
	transition: .6s;
	color: #fff;
}
.icon ul li .fa:hover{
	color: red;
}
.icon ul li a{
	position: relative;
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border-color:#000;
	text-align: center;
	transition: .6s;
	box-shadow: 0 5px 4px rgba(255,0,0,.5);
}
.icon ul li a:hover{
	transform: translate(0,-10px);
	
}
 h3{
	color: #fff;
	text-align: center;
	margin-top: 10%;
}
 h3:hover{
	text-shadow:5px 7px 15px #00BFFF;
}
